.cargobox {
	width: 780px;
}
.cargo, .cargo-header {
	font-size: 0;
}
.cargo > div, .cargo-header > div {
	display: inline-block;
	font-size: 1.6rem;
	height: 45px;
	vertical-align: middle;
}
.cargo:hover {
	background: #EAEAEA;
}
.cargoid{
	width: 60px;
	padding: 0 0 0 10px;
	line-height: 45px;
}
.cargoname {
	width: 350px;
	padding: 0 0 0 10px;
	line-height: 45px;
}
.cargovalue {
	width: 140px;
	padding: 0 0 0 10px;
	line-height: 45px;
}
.cargoamount {
	width: 80px;
	padding: 0 0 0 10px;
	line-height: 45px;
}
.cargototalvalue {
	width: 140px;
	padding: 0 0 0 10px;
	line-height: 45px;
}