.add-box{
	width: 570px;
	height:36px;
}
.userbox {
	width: 570px;
}
.user, .user-header {
	font-size: 0;
}
.user > div, .user-header > div {
	display: inline-block;
	font-size: 1.6rem;
	height: 45px;
	vertical-align: middle;
}
.user:hover {
	background: #EAEAEA;
}
.user.editing {
	background: #DDD;
}
.uid{
	width: 60px;
	padding: 0 0 0 10px;
	line-height: 45px;
}
.username {
	width: 350px;
	padding: 0 0 0 10px;
	line-height: 45px;
}
.useroperation {
	width: 160px;
	line-height: 45px;
}
.user.editing [contenteditable] {
	background: #FAFAFA;
	border: none;
	outline: none;
	box-shadow: 0 0 3px #999;
	padding:3px 6px;
	line-height: 24px;
	display:inline-block;
}