<!DOCTYPE html>
<html>
<head>
	<title>主页 - 奎尔萨拉斯库存管理系统</title>
	<%- include('head'); %>
</head>
<body>
	<%- include('header', {req: req}); %>
	<br>
	<br>
	<div class="qt-textcenter">你好</div>
	<div class="qt-textcenter">点击菜单选择功能</div>
</body>
</html>