<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>登录 - 奎尔萨拉斯库存管理系统</title>

	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">

	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp"/>

	<link rel="stylesheet" type="text/css" href="/static/css/login.css">

	<%- include('head'); %>
</head>
<body>
	<%- include('header'); %>
	<div class="header qt-mg-top-l">
		<div class="row">
			<h1 class="qt-textcenter">奎尔萨拉斯库存管理系统</h1>
			<p class="qt-textcenter">Quel'Thalas Stock Management System</p>
			<p class="qt-textcenter">
				Azeroth best stock management, provide the best solution
				<br>
				全艾泽拉斯最专业库存管理，提供最优质解决方案
			</p>
		</div>
		<hr>
	</div>

	<div class="login qt-center qt-mg-bottom-l">
		<form id="login-form" action="">
			<h2 class="qt-textcenter">登录</h2>
			<hr>
			<span class="login-row-span">账户：</span>
			<div class="login-row">
				<input class="login-row-input" type="text" id="username" name="username">
			</div>
			<span class="login-row-span">密码：</span>
			<div class="login-row">
				<input class="login-row-input" type="password" id="password" name="password">
			</div>
			<p id="info" class="qt-mg-top-s qt-mg-bottom-s"></p>
			<div class="login-buttonbox">
				<input type="submit" id="login" class="qt-btn" value="登录">
				<a id="signup" href="/signup" class="qt-btn qt-fr qt-clear">注册</a>
			</div>
		</form>
	</div>

	<%- include('footer'); %>
	<%- include('last'); %>
	<script src="/static/js/login.js"></script>
</body>
</html>