<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>注册 - 奎尔萨拉斯库存管理系统</title>

	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">

	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp"/>

	<link rel="stylesheet" type="text/css" href="/static/css/signup.css">

	<%- include('head'); %>
</head>
<body>
	<%- include('header'); %>
	<div class="header">
		<div class="row qt-mg-top-l">
			<h1 class="qt-textcenter">奎尔萨拉斯库存管理系统</h1>
			<p class="qt-textcenter">Quel'Thalas Stock Management System</p>
			<p class="qt-textcenter">
				Azeroth best stock management, provide the best solution
				<br>
				全艾泽拉斯最专业库存管理，提供最优质解决方案
			</p>
		</div>
		<hr>
	</div>

	<div class="signup qt-center qt-mg-bottom-l">
		<form id="signup-form" action="">
			<h2 class="qt-textcenter">注册</h2>
			<hr>
			<span class="signup-row-span">账户：</span>
			<div class="signup-row">
				<input class="signup-row-input" type="text" id="username">
			</div>
			<span class="signup-row-span">密码：</span>
			<div class="signup-row">
				<input class="signup-row-input" type="password" id="password">
			</div>
			<span class="signup-row-span">确认密码：</span>
			<div class="signup-row">
				<input class="signup-row-input" type="password" id="password_confirm">
			</div>
			<p id="info" class="qt-mg-top-s qt-mg-bottom-s"></p>
			<div class="signup-buttonbox">
				<input type="submit" id="signup" class="qt-btn" value="注册">
				<a id="login" href="/login" class="qt-btn qt-fr qt-clear">已有账号？登录</a>
			</div>
		</form>
	</div>

	<%- include('footer'); %>
	<%- include('last'); %>
	<script src="/static/js/signup.js"></script>
</body>
</html>